<ul>
    <% for( var i=0; i < chapters.length; i++) { %>
        <li class="mb-2">Chapter <%= i+1 %> : <%= chapters[i].name %>
        </li>
    
        <!-- Add more chapters as needed -->
        <% } %>
</ul>