<ul>
    <% for( var i=0; i < chapters.length; i++) { %>
        <li class="mb-2">Chapter<%= chapters[i].id %> : <%= chapters[i].name %>
        </li>
        <!-- Add more chapters as needed -->
        <% } %>
</ul>