<div class="container mx-auto p-8">
    <h2 class="text-2xl font-semibold mb-8">Create New Course</h2>
    <div class="bg-white p-4 m-8 rounded-md w-1/2">

        <!-- Course Creation Form -->
        <form>
            <!-- Course Name -->
            <div class="mb-4">
                <label for="courseName" class="block text-gray-600 text-sm font-medium mb-2">Course Name</label>
                <input type="text" id="courseName" name="courseName"
                    class="w-full border-gray-300  border-4 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
                    required>
            </div>

            <!-- Course Description -->
            <div class="mb-4">
                <label for="courseDescription" class="block text-gray-600 text-sm font-medium mb-2">Course
                    Description</label>
                <textarea id="courseDescription" name="courseDescription" rows="3"
                    class="w-full border-gray-300 border-4 rounded-md px-3 py-2 resize-none focus:outline-none focus:border-blue-500"
                    required></textarea>
            </div>

            <!-- Submit Button -->
            <button type="submit"
                class="w-full bg-blue-500 text-white rounded-md py-2 hover:bg-blue-600 transition duration-300">Create
                Course</button>
        </form>
    </div>
</div>

<!-- Available Courses Container -->
<div class="container mx-auto p-8">
    <h2 class="text-2xl font-semibold mb-8">Created Courses</h2>
    <div>

        <div class="bg-white p-4 m-8 rounded-md w-1/3">
            <h3 class="text-lg font-semibold mb-2">Course 3</h3>
            <p>Description of Course 3.</p>
            <div class="flex justify-between">
                <!-- Enroll Box -->
                <div
                    class="w-40 h-15 bg-blue-500 text-white rounded-md px-2 py-3 m-5 cursor-pointer hover:bg-blue-600 transition duration-300">
                    <h3 class="text-sm font-semibold mb-2">Add content</h3>

                </div>

                <!-- View Box -->
                <div
                    class="w-40 h-15 bg-blue-500 text-white rounded-md px-2 py-3 m-5 cursor-pointer hover:bg-blue-600 transition duration-300">
                    <h3 class="text-sm font-semibold mb-2">Review Course</h3>

                </div>
            </div>

        </div>
    </div>