<header class="bg-blue-500 text-white py-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center"> 
      <img src="https://img.freepik.com/premium-vector/lms-line-icon-learning-management-system_116137-8747.jpg?w=740" alt="Logo" class="h-8 w-8 rounded mr-2">
      <h1 class="text-2xl font-semibold">Learning Management System</h1>
    </div>
    
  </div>
</header>
