<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Management System</title>
    <!-- Include Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body class="bg-gray-100">
    <%- include('header.ejs') %>
        <!-- Main Content -->
        <div class="container mx-auto mt-8 p-6">
            <h2 class="text-3xl font-semibold mb-4">
                Welcome to our Learning Management System
            </h2>
            <p class="text-gray-700 leading-loose">
                A Learning Management System (LMS) is a powerful tool that enables you
                to create and deliver engaging courses for learners to enroll and
                acquire new knowledge. Our LMS application provides a user-friendly
                interface for both instructors and students, making the learning
                experience seamless and enjoyable.
            </p>

            <div class="flex items-center justify-center py-7 text-black">
                <div class="bg-blue-100 p-5 rounded-md text-center">
                    <h3 class="text-2xl font-semibold mb-4">
                        Don't have an account? <a href="signup" class="text-blue-500">Sign Up</a>
                    </h3>
                    <h3 class="text-2xl font-semibold mb-4">
                        Already have an account..?
                        <a href="/login" class="text-blue-500">Sign In </a>
                    </h3>
                    <p class="text-lg">
                        Student and Educators both can avail these service
                    </p>
                    <!-- You can add more content as needed -->
                </div>
            </div>
        </div>

        <%- include('footer.ejs') %>
</body>

</html>