<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Management System</title>
    <!-- Include Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body class="bg-gray-100">
    <header class="bg-blue-500 text-white py-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center">
                <img src="https://img.freepik.com/premium-vector/lms-line-icon-learning-management-system_116137-8747.jpg?w=740"
                    alt="Logo" class="h-10 w-10 inline-block rounded mr-2">
                <h1 class="text-3xl inline-block font-semibold">Learning Management System</h1>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container mx-auto mt-8 p-6">
        <h2 class="text-3xl font-semibold mb-4">
            Welcome to our Learning Management System
        </h2>
        <p class="text-gray-700 leading-loose">
            A Learning Management System (LMS) is a powerful tool that enables you
            to create and deliver engaging courses for learners to enroll and
            acquire new knowledge. Our LMS application provides a user-friendly
            interface for both instructors and students, making the learning
            experience seamless and enjoyable.
        </p>

        <div class="flex items-center justify-center py-7 text-black">
            <div class="bg-blue-100 p-5 rounded-md text-center">
                <h3 class="text-2xl font-semibold mb-4">
                    Don't have an account? <a href="signup" class="text-blue-500">Sign Up</a>
                </h3>
                <h3 class="text-2xl font-semibold mb-4">
                    Already have an account..?
                    <a href="/login" class="text-blue-500">Sign In </a>
                </h3>
                <p class="text-lg">
                    Student and Educators ...!
                </p>
            </div>
        </div>
    </div>

    <%- include('footer.ejs') %>
</body>

</html>